<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css"/>
    <script type="text/javascript" src="/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/admin-app.js"></script>
</head>
<body>
<section class="container">
    <header class="container">
        <h1 class="main-heading-text">Zeta Message Board</h1>
    </header>
    <form id="addMessageForm">
        <section id="entryForm" class=" message-container">
            <div class="input-container">
                <input class="form-input" type="text" id="enterFirstName" name="enterFirstName" placeholder="Enter Your Name"/>
            </div>
            <div class="text-area-container">
                <textarea class="form-input" id="enterMessage" name="enterMessage" placeholder="Enter Your Message"></textarea>
            </div>
            <div class="button-container">
                <button id="addMessageButton" class="btn btn-info">Add Message&nbsp;<span class="button-plus-sign">+</span></button>
            </div>
        </section>
    </form>
    <div id="messageContainer"></div>

</section>
</body>
</html>